<aside class="order-status">
  <ul class="order-btn">
    <a href="<%= `${appUrl}/cashier/${lang}/kitchen` %>" class="order-btn-item booking" data-table="2">
      <i class="fa-solid fa-list-ul"></i>
      <span><%= __('cashier_aside_orders') %></span>
    </a>
    <a href="<%= `${appUrl}/cashier/${lang}/history` %>" class="order-btn-item">
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span><%= __('cashier_aside_served_list') %></span>
    </a>
    <a href="<%= `${appUrl}/cashier/${lang}/dishes` %>" class="order-btn-item">
      <i class="fa-solid fa-list"></i>
      <span><%= __('cashier_aside_dishes') %></span>
    </a>
  </ul>
  <div class="order-box">
    <div class="order-item">
      <div class="box-content">
        <h4>Table 1 <span><%= __('cashier_aside_bill') %></span></h4>
        <div class="status">
          <i class="fa-solid fa-circle-check"></i>
          <span>対応済み</span>
        </div>
      </div>
      <p class="time">20：18</p>
    </div>
    <div class="order-item">
      <div class="box-content">
        <h4>Table 1 <span><%= __('cashier_aside_bill') %></span></h4>
        <div class="status">
          <i class="fa-solid fa-circle-check"></i>
          <span>対応済み</span>
        </div>
      </div>
      <p class="time">20：18</p>
    </div>
    <div class="order-item">
      <div class="box-content">
        <h4>Table 1 <span><%= __('cashier_aside_bill') %></span></h4>
        <div class="status">
          <i class="fa-solid fa-circle-check"></i>
          <span>対応済み</span>
        </div>
      </div>
      <p class="time">20：18</p>
    </div>
    <div class="order-item">
      <div class="box-content">
        <h4>Table 1 <span><%= __('cashier_aside_bill') %></span></h4>
        <div class="status">
          <i class="fa-solid fa-circle-check"></i>
          <span>対応済み</span>
        </div>
      </div>
      <p class="time">20：18</p>
    </div>
    <div class="order-item">
      <div class="box-content">
        <h4>Table 1 <span><%= __('cashier_aside_bill') %></span></h4>
        <div class="status">
          <i class="fa-solid fa-circle-check"></i>
          <span>対応済み</span>
        </div>
      </div>
      <p class="time">20：18</p>
    </div>
    <div class="order-item">
      <div class="box-content">
        <h4>Table 1 <span><%= __('cashier_aside_bill') %></span></h4>
        <div class="status">
          <i class="fa-solid fa-circle-check"></i>
          <span>対応済み</span>
        </div>
      </div>
      <p class="time">20：18</p>
    </div>
    <div class="order-item done">
      <div class="box-content">
        <h4>Table 1 <span><%= __('cashier_aside_bill') %></span></h4>
        <div class="status">
          <i class="fa-solid fa-circle-check"></i>
          <span>対応済み</span>
        </div>
      </div>
      <p class="time">20：18</p>
    </div>
  </div>
</aside>
