<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>QRipy</title>
    <link rel="shortcut icon" href="<%= appUrl %>/images/favicon.ico" />
    <meta
      name="description"
      content="多言語対応・食べ放題・飲み放題対応など多機能なのにリーズナブルな価格のオーダーシステムです。"
    />
    <meta property="og:title" content="QRipy" />
    <meta
      property="og:description"
      content="多言語対応・食べ放題・飲み放題対応など多機能なのにリーズナブルな価格のオーダーシステムです。"
    />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content="QRipy" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet" />
    <!--font awesome -->
    <script src="https://kit.fontawesome.com/0bdd92789f.js" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="<%= appUrl %>/admin/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="<%= appUrl %>/stores/dist/css/custom.css" />
    <link rel="stylesheet" href="<%= appUrl %>/stores/dist/css/style.css" />
  </head>

  <body class="admin">
    <main class="main-cnt">
      <section class="section-login">
        <div class="login">
          <img src="<%= appUrl %>/images/logo.svg" alt="Logo" class="logo" />
          <h2>ログイン</h2>
          <div class="form">
            <form action="<%= appUrl %>/store/auth" method="post" id="auth">
              <div class="form-item">
                <label>メールアドレス</label>
                <input class="form-control" type="text" autocomplete="email" name="email" id="email" />
              </div>
              <div class="form-item">
                <label>パスワード</label>
                <input class="form-control" type="password" autocomplete="current-password" name="password" id="password" />
              </div>
              <button type="submit" id="submit-login-button" class="c-btn btn">
                <span> ログイン </span>
              </button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- JS -->
    <script>
      var appUrl = '<%= appUrl %>'
    </script>
    <script src="<%= appUrl %>/admin/plugins/jquery/jquery.min.js"></script>
    <script src="<%= appUrl %>/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="<%= appUrl %>/admin/dist/js/adminlte.min.js"></script>
    <script src="<%= appUrl %>/admin/dist/js/sweetalert2.all.min.js"></script>
    <script src="<%= appUrl %>/stores/dist/js/main.js"></script>
    <script src="<%= appUrl %>/stores/dist/js/pages/auth.js"></script>
  </body>
</html>
