<main class="main-cnt main-half">
  <div class="back-link">
    <a href="" class="back-btn"><i class="fa-solid fa-chevron-left"></i><span><%= __('store_page_menus_btn_back') %></span></a>
    <p class="u-fz-16-xl-14 u-fw-b"><%= __('store_page_menus_title') %></p>
  </div>
  <section class="section-group-list">
    <h4><%= __('store_page_menus_title_menu_list') %></h4>
    <div class="group-list">
      <h5><%= __('store_page_menus_name') %></h5>
      <ul class="list-ul">
        <li>
          <button type="button" class="change-position"><i class="fa-solid fa-arrow-right-arrow-left fa-rotate-90"></i></button>
          <p class="u-clr-blue">Menu 1</p>
          <button type="button" class="option"><i class="fa-solid fa-ellipsis-vertical"></i></button>
          <div class="box-option">
            <button type="button" class="edit">
              <i class="fa-solid fa-pen"></i><span><%= __('store_page_menus_btn_edit') %></span>
            </button>
            <button type="button" class="edit">
              <i class="fa-solid fa-trash-can"></i><span><%= __('store_page_menus_btn_delete') %></span>
            </button>
          </div>
        </li>
        <li>
          <button type="button" class="change-position"><i class="fa-solid fa-arrow-right-arrow-left fa-rotate-90"></i></button>
          <p class="u-clr-blue">Menu 2</p>
          <button type="button" class="option"><i class="fa-solid fa-ellipsis-vertical"></i></button>
          <div class="box-option">
            <button type="button" class="edit">
              <i class="fa-solid fa-pen"></i><span><%= __('store_page_menus_btn_edit') %></span>
            </button>
            <button type="button" class="edit">
              <i class="fa-solid fa-trash-can"></i><span><%= __('store_page_menus_btn_delete') %></span>
            </button>
          </div>
        </li>
      </ul>
      <button type="button" class="add-new">
        <a href="<%= `${appUrl}/store/${lang}/menu/create` %>">
          <i class="fa-solid fa-plus"></i><span class="ml-05"><%= __('store_page_menus_btn_create_new') %></span>
        </a>
      </button>
      <div class="text-center">
        <button type="button" class="c-btn"><span><%= __('store_page_menus_btn_save') %></span></button>
      </div>
    </div>
  </section>
</main>
<script>
  var content = '<%= content %>'
</script>